body{
    font-family:'Roboto', sans-serif;
    padding:0;
    border:0;
}

.header{
    display:flex;
    justify-content:space-between;
}
.nav-items{
    list-style:none;
    display:flex;
    gap:30px;
}


.footer{
    display:flex;
    background-color:beige;
    font-weight:550;
    justify-content:center;
    position:absolute ;
    bottom:0;
    left:0;
    padding:30px;
    right:0;
}
