body{
  margin:0;
  padding:0;
  border:0;
}

.entries{
  display:flex;
  margin-top:50px;
  flex-direction:column;
  align-items:center;
  gap:50px;
  
}


/* Navbar */

.navbar{
  display:flex;
  justify-content:center;
  padding:20px;
  background-color:#d92642;
  color:white;
  font-weight:600;
}

.entry{
  display:flex;
  justify-content:center;
  gap:30px;
}

.right{
  display:flex;
  flex-direction:column;
  width:300px;
}

.locationImage{
  border-radius:25px;
}

.location{
  display:flex;
  align-items:center;
  gap:5px
}

h1,
h6{
  margin:5px 0px 5px 0px;
}

.gmaps{
  color:gray;
  font-size:10px;
}